{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block scripts %}
{{super()}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18159656-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-18159656-1');
</script>
{% endblock %}
{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}
