{% extends "basic.html" %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }
  </style>
{% endblock %}
{% block scripts %}
{{super()}}

<!-- bootstrap+jquery -->
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

    <!-- bootstrap-table -->
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js">
</script>
<script src="/static/js/bootstrap-table-export.js"></script>

<!-- bootstrap table 导出-->
<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
<script src="/static/js/xlsx.core.min.js"></script>
<script src="/static/js/tableExport.js"></script>
<script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script>

  <script type='text/javascript'>
    $(window).load(function(){
      var data = {{data|tojson}};
      var columns = {{columns|tojson}};

      $(function() {
        $('#table').bootstrapTable({ 
          //data: data,
          url: data,
          columns: columns, 
          exportTypes: ['json', 'csv', 'txt', 'excel'],
          exportDataType: 'all',
            showRefresh: true,
            showFullscreen: true,
            showToggle: true,
//            cardView: true, // card格式
            //detailView: true,
            striped: true
            
        });

      });

    });
(function(){
    function refreshTable() {$('#table').bootstrapTable('refresh', {silent: true});}
    setInterval(refreshTable, 5000);
})()      
  </script>
{% endblock %}

{% block content %}

  <div class="container" style="padding: 10px; ">
    <h1>{{title}}</h1>
    <br/>
    <div id="toolbar"></div>
    <table
      id="table"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true"
      data-show-export="true"
      data-pagination="true"
      data-click-to-select="true"
      data-height="530">
    </table>
  </div>
{% endblock %}

